/*! GHOST THEME FINAL */
:root {
  color-scheme: dark;
}
main {
  --color-canvas-default: #000000 !important;
  --color-canvas-overlay: #000000 !important;
  --color-canvas-subtle: #000000 !important;
  --color-neutral-muted: #000000 !important;
  --color-border-default: #000000 !important;
  --color-border-muted: #000000 !important;
  --color-fg-default: #ff0000 !important;
  --color-fg-muted: #ff0000 !important;
}
html, body, .gsc-main, .gsc-comments, .gsc-comment-box, .gsc-timeline {
  background: #000000 !important;
  background-color: #000000 !important;
}

/* ESCRIBIR - PREVISUALIZAR - INICIAR SESIÓN PARA COMENTAR EN ROJO */
.gsc-tabs, .gsc-tab, button.gsc-tab,
.gsc-comment-box-tabs button {
  color: #ff0000 !important;
}
.gsc-tab[aria-selected="true"] {
  color: #ff0000 !important;
  border-bottom-color: #ff0000 !important;
}
.gsc-comment-box-textarea::placeholder {
  color: #ff0000 !important;
}
.gsc-comment-box-textarea {
  color: #ff0000 !important;
}
.gsc-comment-box-bottom, .gsc-comment-box-bottom a {
  color: #ff0000 !important;
}