main {
  --color-canvas-default: #000000 !important;
  --color-canvas-overlay: #000000 !important;
  --color-canvas-subtle: #0a0a0a !important;
  --color-neutral-muted: #000000 !important;
  --color-accent-fg: #ff0000 !important;
  --color-accent-emphasis: #ff0000 !important;
}
.gsc-tabs, .gsc-tab {
  color: #ff0000 !important;
}
.gsc-tab[aria-selected="true"] {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.gsc-comment-box-textarea, .gsc-comment-box-preview {
  background: #000000 !important;
  color: #00ff88 !important;
  border: 1px solid #000000 !important;
}
.gsc-comment-box-textarea::placeholder {
  color: #00ff88 !important;
  opacity: 0.8;
}
.gsc-comment-box {
  background: #000 !important;
  border: 1px solid #000 !important;
}